.Mibarra
{
    background-color: rgba(232, 90, 95, 0.527);
    
}

.MiDropdown
{
    background-color: #355c7d;
    border-radius: 15px;
}

button.Mibtn {
    background-color: #F9A300;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 15px;
    }
button.Mibtn:hover {
    cursor: pointer;
    background-color: #FABD44;
    }