<div class="formulario">
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Título</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu titulo">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Categoría</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="glitch" data-text="Strobocops">

      <span class="glitch__color glitch__color--red">Top 1</span>
      <span class="glitch__color glitch__color--blue">Top 1</span>
      <span class="glitch__color glitch__color--green">Top 1</span>
      <span class="glitch__main">Top 1</span>
      <span class="glitch__line glitch__line--first"></span>
      <span class="glitch__line glitch__line--second"></span>
  </div>

  <div class="form-group">
      <label for="exampleFormControlInput1">URL de imagen</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Tu titulo">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Descripción</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

</form>
</div>